<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--<add name="testDatabase" connectionString="Server=(local)\SQL2012SP1;Database=testdb;User ID=sa;Password=Password12!"/>-->
      <add name="testDatabase" connectionString="Server=(local);Database=testdb;User ID=sa;Password=aHJaeNN4"/>
    </connectionStrings>
</configuration>